.github-profile {
    margin: 20px;
    float: left;
    background: darkorchid;
    box-shadow: 3px 15px 30px rgba(171, 86, 252, 0.75);
    width: 325px;
    height: 400px;
    border-radius: 10px;
    padding: 30px 20px 59px 20px;
    border: 0;
}

.profile-pic {
    height: 150px;
    border-radius: 10px;
}

.hr-rule {
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.15);
    margin-top: 13px;
}

.name {
    color: rgba(255, 255, 255, 0.7);
    font-size: 40px;
    font-weight: 900;
    font-family: 'Raleway';
    letter-spacing: 0px;
    margin-top: 20px;
}

.company {
    color: rgba(255, 255, 255, 0.3);
    font-size: 40px;
    font-weight: 900;
    font-family: 'Raleway';
    letter-spacing: 0px;
    margin-bottom: 20px;
}
// #A356FD